/* Navbar */
.navbartop {
    background-image: linear-gradient(to bottom right, rgb(140, 0, 255), rgb(255, 0, 255));
    color: white;
    height: 60px;
}

.navextra {
    background-color: white;
    height: 60px;
}

/* Menu */
.menucustom {
    font-size: 30px;
    cursor: pointer;
}

.menucustom a {
    color: white;
    cursor: pointer;
}

/* Banner */
.bannersize {
    width: 100%;
    height: 350px;
}

.btnsize {
    width: 150px;
    height: 150px;
    font-size: 20px;
}

/* Category */
.categorycard {
    width: 300px;
}

.imgcategory {
    height: 200px;
}

.imgthumbproduct {
    width: 650px;
}

.sizeimages {
    width: 100px;
    height: 100px;
}

@media only screen and (orientation: portrait) {

    .bannersize {
        height: 200px;
    }

    .btnsize {
        width: 100px;
        height: 100px;
        font-size: 15px;
    }

}